extends layout

block content
  form(action='post')
    h1 Admins
    each user in users 
      div(class='userBox')
        h2 Username: #{user.username}
        br
        label First Name: #{user.firstName}
        br
        label Last Name: #{user.lastName}
        br
        h3 Roles
        ul
          each role in user.roles 
            li= role
        form(action=`/a/admins/demote/${user.userId}`, method='post')
          button(type='submit') Demote from Admin